@font-face {
    font-family: "Hoop";
    src: url("images/fonts/typo-hoop/Typo\ Hoop_Regular_Demo.otf");
  }
@font-face {
    font-family: "Happy";
    src: url("images/fonts/happy/otf/happy-times-at-the-ikob.otf");
}
@font-face {
    font-family: "Octarine";
    src: url("images/fonts/OctarineFree/Octarine-Bold.otf");
}
@font-face {
    font-family: "Berton";
    src: url("images/fonts/berton/Berton-Voyage-trial.ttf");
}
@font-face {
    font-family: "Well";
    src: url("images/fonts/wellbred/Well\ Bred\ Font\ by\ Situjuh\ \(7NTypes\).otf");
}
#aboutme{
    padding: 50px 10px 200px 10px;
    background-color: rgb(139, 151, 163);
    color: rgb(247, 244, 243);
}
#photo{
    margin-bottom: 10vh;
}
blockquote{
    padding: 30px 0;
    font-family: Well;
    font-size: 2em;
}
span{
    text-align: right;
}
ul{
    list-style: none;
}
ul li{
    padding-top: 7px;
    font-family: Happy;
    font-size: 1.5em;
}

#poste{
    padding: 150px 30px 20px 0;
    writing-mode: vertical-lr;
    background-color:  rgb(139, 151, 163);
    color: rgb(247, 244, 243);
}

h1, h2{
    font-family: Hoop;
}
h2{
    letter-spacing: .2em;
    font-weight: bold;
}
h3{
    font-family: Octarine;
}

@media screen and (max-width: 500px) /* Mobile */ {
    #poste{
        display: none;
    }
  }

  @media screen  and (max-width: 979px) /* Tablet */ {
    #poste{
        display: none;
    }
  }